@import "_lib/base/colors";

html, body{
  height: 100%;
  margin: 0;
  background-color: lighten($primary-color, 40%);
  font-family: Arial, Helvetica, sans-serif;
}
button.active{
  background: #fff;
  color: #009688;
}
button.active:hover{
  color: #fff;
}
.fill{
  flex: 1 1 auto;
}
.app-state{
  margin: 15px;
  flex: 1;
}
.home{
  flex: 1;
}
md-content{
  display: flex;
  flex-direction: column;
  height: 100%;
}
footer{
  flex: 0 0 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

app {
  // override default color
  md-toolbar.md-primary {
    background-color: lighten($primary-color, 10%);
  }
}

* {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}